<%- include('partials/header') %>
<div class="container mt-2 d-flex flex-column align-items-center gap-2">
    <h4 class="card-title"><%=translator.Result%></h4>
    <div class="d-flex justify-content-center gap-3 align-items-center">
      <select class="form-select form-select-sm w-auto" id="organizarPor">
        <option value="nome" selected><%=translator.Title%></option>
        <option value="autor"><%=translator.Author%></option>
        <option value="genero"><%=translator.Genre%></option>
        <option value="nota"><%=translator.Score%></option>
        <option value="data"><%=translator.Date%></option>
      </select>
      <button id="toggleOrder" class="btn btn-outline-primary btn-sm d-flex align-items-center"><i class="bi bi-arrow-up ms-1"></i>
      </button>
    </div>
    <div class="d-flex container mt-5 justify-content-center">
        <div class="card shadow-sm mb-3 flex-shrink-0" style="max-width: 400px; width: 100%;">
            <div class="card-body">
            <h5 class="card-title mb-1 fw-bold">Nome do Livro</h5>
            <p class="card-text text-muted mb-2">Autor</p>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-secondary">4/5</span>
                <span class="text-secondary">Maio/2024</span>
            </div>
            <div class="d-flex justify-content-around border-top pt-2">
                <a href="/add" class="btn btn-sm btn-outline-primary"><%=translator.Edit%></a>
                <a href="/detail" class="btn btn-sm btn-outline-secondary"><%=translator.Details%></a>
                <a href="#" class="btn btn-sm btn-outline-danger"><%=translator.Delete%></a>
            </div>
            </div>
        </div>
    </div>
</div>
<footer class="bg-light fixed-bottom py-2">
    <div class="container d-flex justify-content-center gap-3">
      <button class="btn btn-sm btn-outline-secondary">
        <img src="https://flagcdn.com/w40/br.png" alt="Brasil" width="24" height="16">
      </button>
      <button class="btn btn-sm btn-outline-secondary">
        <img src="https://flagcdn.com/w40/us.png" alt="Estados Unidos" width="24" height="16">
      </button>
      <button class="btn btn-sm btn-outline-secondary">
        <img src="https://flagcdn.com/w40/de.png" alt="Alemanha" width="24" height="16">
      </button>
    </div>
</footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  <script>
    const toggleButton = document.getElementById('toggleOrder');
    const icon = toggleButton.querySelector('i');
    let isAscending = true;
    toggleButton.addEventListener('click', () => {
      isAscending = !isAscending;
      icon.className = isAscending ? 'bi bi-arrow-up ms-1' : 'bi bi-arrow-down ms-1';
    });
  </script>
</body>
</html>

