<%- include('partials/header') %>
<div class="container mt-2 mb-5">
  <h2 class="text-center mb-1"><%=translator.Search%></h2>
  <p class="text-muted fst-italic text-center" style="font-size: 0.9rem;">
    <%=translator.SearchWarning%>
  </p>
  <form action="/result" method="get">
    <div class="mb-2">
      <label for="nomeLivro" class="form-label"><%=translator.Title%></label>
      <input type="text" id="nomeLivro" name="nomeLivro" class="form-control">
    </div>
    <div class="mb-2">
      <label for="nomeAutor" class="form-label"><%=translator.Author%></label>
      <input type="text" id="nomeAutor" name="nomeAutor" class="form-control">
    </div>
    <div class="row mb-2">
      <div class="col-md-4">
        <label for="genero" class="form-label"><%=translator.Genre%></label>
        <input type="text" id="genero" name="genero" class="form-control">
      </div>
      <div class="col-md-4">
        <label for="nota" class="form-label"><%=translator.Score%></label>
        <input type="number" id="nota" name="nota" class="form-control" min="1" max="5">
      </div>
      <div class="col-md-4">
        <label for="comparacao" class="form-label"></label>
        <select id="comparacao" name="comparacao" class="form-select">
          <option value="maior"><%=translator.Gthan%></option>
          <option value="menor"><%=translator.Lthan%></option>
          <option value="igual" selected><%=translator.Eto%></option>
        </select>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-6">
        <label for="dataInicial" class="form-label"><%=translator.SFrom%></label>
        <input type="month" id="dataInicial" name="dataInicial" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="dataFinal" class="form-label"><%=translator.UTo%></label>
        <input type="month" id="dataFinal" name="dataFinal" class="form-control">
      </div>
    </div>
    <div class="text-center mb-3">
      <button type="submit" class="btn btn-primary me-2 mb-5"><%=translator.Search%></button>
      <button type="reset" class="btn btn-secondary mb-5"><%=translator.Clear%></button>
    </div>
  </form>
</div>
<%- include('partials/footer') %>